:root {
  --color-codigo-falado: #ea007f;
  --color-collabcode: #f4586f;
  --color-toramaru08: #4e354b;

  --color-green: #009c37;
  --color-yellow: #fee000;
  --color-blue: #002277;
  --color-white: #FFF;
}